/*Common*/
//Color
white = #FFF
black = #000
blue = #132E98

p
  line-height: 1.5
  margin: 0
  padding: 0
  word-break: break-all


for row in 10 20 30 40 50
  .mb{row}
    margin-bottom: 1px * row!important
  .pb{row}
    padding-bottom: 1px * row!important

.mlr15
  margin-left: 15px; 
  margin-right: 15px;


for row1 in 12 14 16 18 20 22 24 26 28 30 40 60
  .size{row1}
    font-size: 1px * row1

.strong
  text-weight: bold

.text-center
  text-align: center

.color-white
  color: white;
.color-blue
  color: blue;
.bg-blue
  background: blue;

.blue-btn
  diaplay: table
  padding: 40px
  background-color: #132E98
  color: #FFF
  border-radius: 8px

.m-center
  display: table
  margin-left: auto
  margin-right: auto
