/*Common*/
.blue-btn
  diaplay: table
  padding: 40px
  background-color: #132E98
  color: #FFF
  border-radius: 8px

.m-center
  display: table
  margin-left: auto
  margin-right: auto

.slideshow
	top: -58px

